<div class="row mx-auto w-75 mt-5">
  <% if @notes %>
    <h1>Notes</h1>
  <% end %>

  <div>
    <%= link_to 'Add new Note', new_note_path, class: 'btn btn-primary ml-5' %>
  </div>

  <div class="mx-auto mt-5 w-100">
    <div class="table-responsive">
      <table class="table table-bordered table-hover">
        <thead>
        <tr>
          <th width="25%">Title</th>
          <th width="60%">Description</th>
          <th width="15%">Actions</th>
        </tr>
        </thead>

        <tbody>
        <% @notes.each do |note| %>
          <tr>
            <td>
              <% if note.title.empty? %>
                <%= truncate(strip_tags(note.body.to_s), length: 30) %>
              <% else %>
                <%= link_to note.title, note_path(note) %>
              <% end %>
            </td>
            <td><%= truncate(strip_tags(note.body.to_s), length: 100) %></td>
            <td>
              <%= link_to 'Edit', edit_note_path(note) %>
              <%= link_to 'Delete', note_path(note), method: :delete, data: { confirm: 'Are you sure?' } %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>