<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= yield(:title) %> | My Notes</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>

<body>

<%= render 'shared/navigation' %>

<main role="main" class="container mt-4">

  <%= render 'shared/flash_messages' %>

  <%= yield %>

  <%= debug(params) if Rails.env.development? %>
</main>

<footer class="container-fluid">
  <nav class="navbar fixed-bottom navbar-dark bg-dark">
    <div class="container justify-content-center text-light">
      &copy; <%= Time.now.year %><a href="https://eclecticsaddlebag.com">&nbsp; EclecticCoding</a>&nbsp; - Designed by&nbsp;
      <a href="https://twitter.comEclecticCoding"> Chuck Smith</a>
    </div>
  </nav>
</footer>

</body>
</html>
